/*全局作用域命名规则common- 加上文件路径名称 */

/*banner 轮播图相关*/
.common-index-banner .swiper-slide img{
	display: block;
	width: 100%;
	/*height: auto;*/
	cursor: pointer;
}

.common-index-banner .swiper-container-horizontal > .swiper-pagination-bullets{
	text-align: center;
	box-sizing:border-box;
	bottom: 10px;
}

.common-index-banner .swiper-pagination-bullet{
	margin: 0 5px;
	width: 5px;
	height: 5px;
	background: #D8D8D8;
	opacity: 1;
}

.common-index-banner .swiper-pagination-bullet-active{
	background: #FB683C;
}